<div class="header-bar">
    <table style="width:100%">
        <tr>
          <td width="10%" style="padding-left: 16px;padding-top: 16px;">
              <div (click)="this.navigator.toggleNavigator()">&#9776;</div>
          </td>
          <td width="80%" style="text-align: center;padding-top: 16px;">
            GREENPAP
          </td>
          <td width="10%" style="float: right;padding-right: 36px;;padding-top: 16px;">
            &#x2609;
          </td>
        </tr>
      </table>
</div>

<div [hidden]="!this.navigator.status()">
  <span class="navigator-container">
        <mat-list role="list">
          <mat-list-item role="listitem" routerLink="/dashboard">
            <span>DASHBOARD</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item role="listitem" routerLink="/faq">
            <span>FAQ</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item role="listitem" routerLink="/edit">
            <span>EDIT</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item role="listitem" routerLink="/contact">
            <span>CONTACT US</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item role="listitem" routerLink="">
            <span>LOGIN</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item role="listitem" routerLink="/signup">
            <span>SIGN UP</span>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
  </span>
  <span (click)="this.navigator.closeNavigator()" class="navigator-empty-space"></span>
</div>
<!-- <div [hidden]="!this.navigator.status()" class="navigator-container">
  <ul>
    <li><a routerLink="/">HOME</a></li>
    <li><a routerLink="/faq">FAQ</a></li>
    <li><a routerLink="/edit">EDIT</a></li>
    <li><a routerLink="/contact">Contact us</a></li>
  </ul>
</div> -->
